body{
    background-color: powderblue;
}

hr{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(17, 8, 143);
    border-width: 5px;
    width: 100%;
}

img{
    height: 300px;
}

h1{
    color: green;
}

h3{
    color: green;
}